* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(207, 26%, 17%);
    font-family: system-ui;
}

nav {
    width: 100%;
    display: flex;
    min-height: 10vh;
    background-color: #caebff;
    font-size: 3rem;
    align-items: center;
    padding: 0 3rem;
}

nav .logo {
    letter-spacing: 2px;
    color: rgb(2, 1, 1);
    /* cursor: pointer; */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
}

form {
    width: 500px;
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 14px 1px rgba(178, 192, 255, 0.9);
    border-radius: 10px;
}

@media (max-width: 750px) {
    form {
        width: 380px;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

input {
    padding: 10px 0;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(103, 103, 81);
    outline: none;
}

.form-control label {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 7px;
}

.submit {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.notes {
    width: 100%;
    display: flex;
    padding: 3rem 2rem 2rem 2rem;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 1rem 1.5rem 1rem;
    width: 32rem;
    border-radius: 5px;
    margin: 1rem 2rem;
}

.card h3 {
    font-size: 1.9rem;
}

.card p {
    overflow: hidden;
    font-size: 1.3rem;
    padding: 1rem 0;
}

.del {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}
